@import './variables.scss';
@import './mixins.scss';

body {
	background-color: $background-color;
	font-family: 'Signika', Verdana, sans-serif;
}

@import './page-layout.scss';
@import './header.scss';

@import './common.scss';
@import './chibis.scss';

.container {
	//width: 100%;
	margin: 0 auto;
	display: flex; 
	justify-content: center;
	flex-direction: column;
}

@import './footer.scss';